<app-countdown-timer></app-countdown-timer>
<div class="container">
  <app-creators></app-creators>
  <div class="seperator"></div>
  <app-history></app-history>
  <div class="seperator"></div>
  <app-docs></app-docs>
  <div class="seperator"></div>

  <div>
    <h1>Community created items</h1>
    <img class="image" src="assets/faq.png" (click)="openFaq()"/>
    <img class="image" src="assets/map.png" (click)="openMap()"/>
    <img class="image" src="assets/voxels2.png" (click)="openMetaverse()"/>
  </div>

</div>
